html, #root, .loader-container {
  background-color: #231F20;
  letter-spacing: .5px;
  color: #d5be80;
}

.App {
  text-align: center;
  margin: 50px 0 0 0;
}

.App h1 {
  text-transform: uppercase;
  padding-bottom: 40px;
}

body .modal-content {
  border-radius: 0;
  background-color: #231F20;
  color: #d5be80;
}

body .modal-header, 
body .modal-footer {
  border-bottom: none;
  border-top: none;
}

.character-modal h4 {
  padding: 30px; 
  line-height: 25px;
  font-size: 16px;
}

.modal-body h1 {
  text-align: center;
  text-transform: uppercase;
}

.modal-body h2, 
.modal-body h4 {
  text-align: center;
}

.modal-body img {
  padding: 0px 20px 20px
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
}

body .close {
  opacity: 1;
  color: #d5be80;
  text-shadow: none;
  background: transparent;
}

body .close:hover {
  color: #000
}

body .carousel-caption {
  position: relative;
  left: 0%;
}

.footer {
  background-color: #000;
  height: 118px;
}

.footer p {
  color: #fff;
  text-transform: uppercase;
  padding-top: 50px;
  margin-top: 50px;
}