.character-grid {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-flow: row wrap;
}

.primary-btn {
  white-space: normal;
  text-transform: uppercase;
  border-radius: 0;
  background-color: #231F20;
  cursor: pointer;
  margin: auto;
  flex: 1 50%;
  padding: 5px;
}

.primary-btn:hover {
  box-shadow: 0px 0px 30px #888;
  z-index: 2;
  transition: all 200ms ease-in;
  transform: scale(1.035);
}

body .btn:active,
body .btn-default:focus,
body .btn-default:active:focus {
  outline: 0;
  box-shadow: none;
  background-color: #d5be80; 
}

.primary-btn img {
  max-width: 100%;
  max-height: 100%;
}

/* Media Queries */
@media (max-width: 480px) {
  .primary-btn {
    flex: 1 100%;
  }
}