.loader-container,
.loader, 
.loader-txt {
  position: absolute;
}

.loader-container,
.loader {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.loader-txt {
  width: 90px;
  color: #d5be80;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  top: 50%;
  left: 50%;
  margin-left: -45px;
  margin-top: -15px;
  text-align: center;
}

.loader {
  border-top: 10px solid #2E282A;
  border-bottom: 10px solid #d5be80;
  border-left: 10px solid #d5be80;
  border-right: 10px solid #2E282A;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}